# Datos masivos no subibles a GitHub (>100MB)
application_train.csv
*.zip

# Entregables Word / Office
*.docx
*.pdf

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Entornos virtuales
venv/
.env/
env/
